
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <!--<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB9-M1esX7KOwvO78N0RTpCIPsrqNTXP1E&libraries=places&sensor=true"></script>

  <title>GCAdmin</title>

</head>

<body>
<% if user_signed_in? %>

<section id="container" >
  <!-- **********************************************************************************************************************************************************
  TOP BAR CONTENT & NOTIFICATIONS
  *********************************************************************************************************************************************************** -->
  <!--header start-->
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars"></div>
    </div>
    <!--logo start-->
    <a href="#" class="logo"><b>GUIA DEL CIUDADANO</b></a>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
        <!-- settings start -->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-tasks"></i>
            <span class="badge bg-theme">4</span>
          </a>
          <ul class="dropdown-menu extended tasks-bar">
            <div class="notify-arrow notify-arrow-green"></div>
            <li>
              <p class="green">You have 4 pending tasks</p>
            </li>
            <li>
              <a href="index.html#">
                <div class="task-info">
                  <div class="desc">DashGum Admin Panel</div>
                  <div class="percent">40%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span class="sr-only">40% Complete (success)</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="index.html#">
                <div class="task-info">
                  <div class="desc">Database Update</div>
                  <div class="percent">60%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete (warning)</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="index.html#">
                <div class="task-info">
                  <div class="desc">Product Development</div>
                  <div class="percent">80%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    <span class="sr-only">80% Complete</span>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="index.html#">
                <div class="task-info">
                  <div class="desc">Payments Sent</div>
                  <div class="percent">70%</div>
                </div>
                <div class="progress progress-striped">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    <span class="sr-only">70% Complete (Important)</span>
                  </div>
                </div>
              </a>
            </li>
            <li class="external">
              <a href="#">See All Tasks</a>
            </li>
          </ul>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
        <li id="header_inbox_bar" class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-theme">5</span>
          </a>
          <ul class="dropdown-menu extended inbox">
            <div class="notify-arrow notify-arrow-green"></div>
            <li>
              <p class="green">You have 5 new messages</p>
            </li>
            <li>
              <a href="index.html#">
                <span class="photo"><%= image_tag("ui-zac.jpg", alt: "avatar") %></span>
                <span class="subject">
                <span class="from">Zac Snider</span>
                <span class="time">Just now</span>
                </span>
                <span class="message">
                    Hi mate, how is everything?
                </span>
              </a>
            </li>
            <li>
              <a href="index.html#">
                <span class="photo"><%= image_tag("ui-divya.jpg", alt: "avatar") %></span>
                <span class="subject">
                <span class="from">Divya Manian</span>
                <span class="time">40 mins.</span>
                </span>
                <span class="message">
                 Hi, I need your help with this.
                </span>
              </a>
            </li>
            <li>
              <a href="index.html#">
                <span class="photo"><%= image_tag("ui-danro.jpg", alt: "avatar") %></span>
                <span class="subject">
                <span class="from">Dan Rogers</span>
                <span class="time">2 hrs.</span>
                </span>
                <span class="message">
                    Love your new Dashboard.
                </span>
              </a>
            </li>
            <li>
              <a href="index.html#">
                <span class="photo"><%= image_tag("ui-danro.jpg", alt: "avatar") %></span>
                <span class="subject">
                <span class="from">Dj Sherman</span>
                <span class="time">4 hrs.</span>
                </span>
                <span class="message">
                    Please, answer asap.
                </span>
              </a>
            </li>
            <li>
              <a href="index.html#">See all messages</a>
            </li>
          </ul>
        </li>
        <!-- inbox dropdown end -->
      </ul>
      <!--  notification end -->
    </div>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li class='user-name' style="margin-top: 20px; right: 15px;">Bienvenido <strong><%= current_user.email %></strong>. </li>
        <li>

            <!--<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> -->
        <!--|-->
            <%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link logout' %>



          <!--<a class="logout" href="login.html">Logout</a>-->
        </li>
      </ul>
    </div>
  </header>
  <!--header end-->

  <!-- **********************************************************************************************************************************************************
  MAIN SIDEBAR MENU
  *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">

        <p class="centered"><a href="#"><%= image_tag("logo.png", width: '60',  class: "img-circle") %></a></p>
        <!--<h5 class="centered">Guia</h5>-->

        <li class="mt">


          <%= link_to pages_index_path  do %>
              <i class="fa fa-dashboard"></i>
              <span>Inicio</span>
          <% end %>
        </li>

        <li class="sub-menu">
          <a href="javascript:;" >
            <i class="fa fa-desktop"></i>
            <span>Gestionar Anuncios</span>
          </a>
          <ul class="sub">
            <li>
              <%= link_to adverts_path  do %>
                  Mis Anuncios
              <% end %>
              </li>
            <li>
              <%= link_to new_advert_path  do %>
                  Comprar Anuncio
              <% end %>
            </li>
          </ul>
        </li>

        <li class="sub-menu">
          <a href="javascript:;" >
            <i class="fa fa-cogs"></i>
            <span>Components</span>
          </a>
          <ul class="sub">
            <li><a  href="#">Calendar</a></li>
            <li><a  href="#">Gallery</a></li>
            <li><a  href="#">Todo List</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" >
            <i class="fa fa-book"></i>
            <span>Extra Pages</span>
          </a>
          <ul class="sub">
            <li><a  href="#">Blank Page</a></li>
            <li><a  href="#">Login</a></li>
            <li><a  href="#">Lock Screen</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" >
            <i class="fa fa-tasks"></i>
            <span>Forms</span>
          </a>
          <ul class="sub">
            <li><a  href="#">Form Components</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" >
            <i class="fa fa-th"></i>
            <span>Data Tables</span>
          </a>
          <ul class="sub">
            <li><a  href="#">Basic Table</a></li>
            <li><a  href="#">Responsive Table</a></li>
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" >
            <i class=" fa fa-bar-chart-o"></i>
            <span>Charts</span>
          </a>
          <ul class="sub">
            <li><a  href="#">Morris</a></li>
            <li><a  href="#">Chartjs</a></li>
          </ul>
        </li>

      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>
  <!--sidebar end-->
      <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <!--CONTENT-->
      <%= yield %>
      <!--end content-->

  <!--footer start-->
  <footer class="site-footer">
    <div class="text-center">
      2015 - GC
      <a href="" class="go-top">
        <i class="fa fa-angle-up"></i>
      </a>
    </div>
  </footer>
  <!--footer end-->
</section>


<script type="application/javascript">


</script>

<% else %>

              <%= yield %>


<% end %>
</body>
</html>
